{
    "presets": [
        ["next/babel", {
            "class-properties": {
                "loose": true
            },
            "styled-jsx": {
                "plugins": ["styled-jsx-plugin-less"]
            }
        }]
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ]
    ]
}
